<br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class=" books-container">
      <div class=" books-form">
        <form #form="ngForm"  (ngSubmit)="onSubmit()" >
         
          <div class="form-group">
           <th> <label for="">Book Name</label>
          &nbsp;
            <input type="text" name="BookName" [(ngModel)]='book.bookName' />
          </th>
          </div>
          <br>
          <div class="form-group">
            <th>
            <label for="">Author name</label>  &nbsp;
            <input type="text" name="UserName" [(ngModel)]='user.userName'/></th>
          </div> <br>
          <div class="form-group">
            <div>
              <th>
              <label for="">Publisher</label>  &nbsp;
              <input type="text" name="Publisher" [(ngModel)]='book.publisher' /></th>
            </div>
            <br>
            <div class="form-group">
            <div>
            <th>
              <label for="">PublishedDate</label>  &nbsp;
              <input type="date" name="PublishedDate" [(ngModel)]='book.publishedDate' /></th>
            </div>
</div>
            <div class="form-group">
             <br>
            <th>
              <button (onclick)="onSubmit()">Search</button></th>
            </div>
            <!-- <div class="books-grid">
              <div class="book-row" *ngFor="let book of books">
                <div class="book-row-details"> -->
                  <!-- <span>{{ book.bookName }}</span>
                  <span>{{ book.price}}</span>
               </div> -->
             <div class="books-grid">
              <div class="book-row">
                  <div class="book-row-details">
                      <table class="table table-bordered">
                          <thead>
                              <th>BookName</th> &nbsp;
                              <th>Price</th>
                          </thead>
                          <tbody *ngFor="let book of books">
                              <tr>
                                  <td>{{ book.bookName }}</td>&nbsp;
                                  <td>{{ book.price }}</td>
                            
                              <button class="Button" type="submit">Buy<i class="ffa fa-cart-plus"></i></button>  </tr>
                          </tbody>
                      
                      </table>
                  </div>
              </div>
            </div>
        </div>
