<br><br><br><br><br>
<div class="books-grid">
    <div class="book-row">
        <div class="book-row-details">
            <table class="myTable myTable-zebra myTable-horizontal">
                <thead>
                    <th>BookName</th> &nbsp;&nbsp;
                    <th>Content</th>
                </thead>
                <tbody >
                    <tr>
                        <td>{{ book.bookName }}</td>&nbsp;&nbsp;
                        <td>{{ book.content }}</td>&nbsp;&nbsp;
                  
                    </tr>
                </tbody>
            
            </table>
        </div>
    </div>
</div>


