<div class="toolbar" role="banner">
  <img
    width="40"
    height="40"
    alt="Angular Logo"
    src="https://archinect.imgix.net/uploads/oj/ojnwgyv9um4gzgdg.JPG?auto=compress%2Cformat" />
  <nav>
    <tr>
      <span>DigitalBook</span>
          &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;
            <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
            &nbsp; &nbsp; &nbsp;
        <th>
    
            <div>
  <a routerLink="/SignUp" routerLinkActive="active" ariaCurrentWhenActive="page">Signup</a>   
  &nbsp; &nbsp; &nbsp;
</div>
  <th>
      <div>
<a routerLink="/Login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>   &nbsp;&nbsp;&nbsp;
</div>
  </th>
  <th>
    <div>
<a routerLink="/Publish" routerLinkActive="active" ariaCurrentWhenActive="page">Publish</a>   &nbsp;&nbsp;&nbsp;
</div>
</th>

  </tr>
  </nav>
<router-outlet></router-outlet>